<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fh.swengb.resifoAndroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.list.Credits" />
        <activity
            android:name=".activities.list.ListActivity"
            android:label="ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.help.HelpActivity" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel01" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel02" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel02a" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel03" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel04" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel05" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel05a" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel06" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel07" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel08" />

        <activity
            android:name=".activities.list.ItemDetailsActivity"
            android:label="Entry Details"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>