<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fh.swengb.resifoAndroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.list.Credits" />
        <activity
            android:name=".activities.list.ListActivity"
            android:label="ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel01" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel02" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel02a" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel03" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel04" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel05" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel05a" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel06" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel07" />
        <activity android:name=".activities.meldezettelEdit.Meldezettel08" />
        <activity
            android:name=".activities.popUp.helpA.PopHelpActivity01"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity01"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity02"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity03"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity04"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity05"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity06"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity07"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivity08"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".activities.popUp.switchA.PopSwitchActivitySelf"
            android:theme="@style/AppTheme.PopUp" />


    </application>

</manifest>